/* Canvas */

#canvas-wrapper{
  position: relative;
  background-color: #000000;
  width: 50%;
  height: 500px;
  opacity: 0.8;
  // margin 0 auto only works for block
  margin: 0 auto;
  border-radius: 20px;


  #showMsg{
    overflow: hidden;
    text-align: left;
    width: 50%;
    height: 20%;
    position: relative;
    margin: 0 auto;
    top: 40%;


    input {
      position: absolute;
      left:-50px;
      opacity: 0;
      top: 25px;
    }
  }

  .theMsg{
    color:white;
    text-align: center;
    line-height:80px;
  }

  #dragMsg{
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #chooseMsg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100px;
  }
}


.panelwrapper{
  position: relative;
  display : inline-block;
  vertical-align: top;
}

.decisionBtn{
  position: relative;
  display: inline-block;
  margin: 1px;
  top: 10px;
  font-size: 10px;
}



.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.fixed-table-container {
    border:0px !important;
}

.error{
  margin: 0;
  font-size: 12px;
  color: red;
}

.highlight {
   background-color: #90b9f9;
 }



.toolkit-item{
  margin-left: 30px;
  font-size: 18px;
}
.toolkit-item:hover{
  background-color: #D2D2D2;
  cursor: pointer;
}

#selWidth{
  width: 20%;
  margin: 20px;
  display: inline-block;
  font-size: 18px;

}
#selMode{
  width: 20%;
  margin: 20px;
  display: inline-block;
  font-size: 18px;
}

.panel-frame{
  display:inline-block;
  overflow: auto;
  font-size: 16px;
  text-align: left;
  border:1px solid black !important;
  margin-top: 20px;
  margin-bottom: 0px;
  border-collapse: separate;
  th, td{
    width:100%;
    border: 1px !important;
  }
  th{
    color: white !important;
  }

  tbody, tr{
    width: inherit;
    display: inline-block;
  }
  thead{
    display:inline-block;
    width:inherit;
    background-color: black;
  }
}

#selectFrame{
  height: 300px;
}
#selectHieFrame{
  height: 350px;
}
#historyFrame{
  height: 500px;
}

.op-his{
  position: relative;
  display: inline-block;
  margin: 1px;
  top: 10px;
  font-size: 10px;
}

.module-title{
  font-family: "Monaco" !important;
  font-size: 18px;
  margin: 5px;
}


/* tabs */

// .tabsWrapper{
//   position: relative;
//   height: 60px;
//   padding: 5px;
//
// }

#mainTabs{
  position: relative;
  height: 60px;
  padding: 5px;
  width: 70%;
  margin: 0 auto;

}



ul.tabs{
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    border: gray solid 1px;
    width: 47%;
    float: left;
    margin: 0 .25em 0 0;
    padding: .25em .25em;

  }

  .mainli{
    width: 23%;
  }

  a{
    color: gray;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 1vw;
  }
  li.active{
    background: gray;
    a{
      color: white;
    }
  }
}

/* Hierarchy */

.hierarchy-div{
  display: inline-block;
  width: 100%;
  font-size: 16px;
  text-align: left;
  border:1px solid black !important;
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: auto;

  li{
    padding: 0;
  }
}

#hieopt{
  display: inline-block;
  height: 30px;
  width: 80%;
  margin-top: 10px;
  font-size: 16px;
}

.disable-hie{
  color: #d6d6d6 !important;
}
.highlight-hie{
  background-color: #90b9f9;
}
.highlight-class{
  background-color: #93add6;
}


.gallery-wrapper{
  width: 100%;
  height: 136px;
  border: solid 3px;
  position: relative;
}

.gallery-content{
  width: 88%;
  height: 130px;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden; // hide vertical
  display: inline-block;
  z-index: 1;
  position: relative;
}

.gallery-arrows{
  width: 6%;
  height: 130px;
  overflow: hidden;
  display: inline-block;
  background: rgba(203, 218, 242, 0.5);
  position: relative;
  z-index: 2;
  cursor: pointer;
  i {
    position: relative;
    top: calc(50% - 20px);
  }


}

.gallery-arrows:hover{
  background: rgba(139, 177, 239, 0.8);
  -webkit-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.image-item{
  position: relative;
  width: 20%;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  white-space: normal;
  margin: 30px 20px 0px 20px;
  overflow: hidden;
  //overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  .image-block{
    width: 25%;
    height: 30px;
    vertical-align: top;
  }
  .image-name{
    width: 60%;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    height: 20px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
}
.image-item:hover{

  color: rgb(158, 192, 247);
  -webkit-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.zoom{
  display: inline-block;
  width: 22%;
  float: left;
  margin: 0 10px;
}
